
<div class="greeting">
<h1>Welcome</h1>
<h1 class="hello">Hello <%= @name%></h1>
<h1 class="bye">Bye</h1>
</div>
<h1 class="hello">Hello <%= @name%></h1>
<p>Find me in app/views/hello/index.html.erb</p>
<!-- <h1 class="hi">Hello <span class="name proper"><%=@name%></span></h1>
<h1 class="hi">Hello <span class="name"><%=@name%></span></h1>
<h1 class="hi">Hello <span class="proper"><%=@name%></span></h1>
<p class="name">Tin</p>
<p class="proper">Tin</p> -->
<table>
    <tr>
    <   td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
        <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
        <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
</table>
<table>
<%(1..@rows).each do |row|%>
    <tr>
        <%(1..@cols).each do |col|%>
            <td>Peter</td>
        <%end%>
    <tr>
<%end%>
 </table>
 <%(1..@rows).each do |row|%>   
    <div class="row">
        <% (1..@cols).each do |col|%>
            <div class="col">
                <p>Something in col <%=col%></p>
            </div>
        <%end%>
    </div>
    
 <%end%>
