<tr>
        <td><%= link_to index + 1, user_path(user)%></td>
        <td><%= user.full_name %></td>
        <td><%= user.short_n %></td>
        <td><%= user.class_info&.name %></td>
        <td><%= user.bod&.strftime('%d/%m/%Y') %></td>
        <td><%= user.email %></td>
        <td><%= user.contact %></td>
        <td><%= user.cmnd %></td>
        <!-- <td><%= link_to 'Show', user %></td> -->
        <td>
        <%= link_to '',edit_user_path(user), class:"fas fa-pencil-alt"  %> 
        <a href="<%= edit_user_path(user)%>">
        <i class="fas fa-edit"></i>
        </a>
        <%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %>
        <a href="<%= user_path(user)%>" data-method="delete" data-confirm="Are you sure from <a>?">
        <i class="far fa-trash-alt"></i>
        </a>
        </td>
        
      </tr>