<!DOCTYPE html>
<html>
  <head>
    <title><%=@title_of_page%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="/">Trang chu</a>
  <br/>
  <a href="/user/signin">Dang nhap</a>
  <br/>
  <a href="/ve_tam_giac/index">Ve tam giac</a>
  <br/>
  <a href="/ve_table/index">Ve table</a>
  <br/>
    <%= yield %>
  </body>
</html>
